* {
    margin: 0;
    padding: 0;
}

html {
    background: linear-gradient(90deg,grey,rgb(143, 138, 64));
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picbutton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.pic {
    height: 100px;
    width: 130px;
    overflow: hidden;
    border: 5px solid black;
    border-radius: 10%;
}

#Rockpic {
    width: auto;
    height: 110px;
    position: relative;
    right: 15px;
}

#Scissorspic {
    width: 130px;
    height: auto;
    position: relative;
    bottom: 12px;
}

.buttons {
    display: flex;
    gap: 20px;
    margin-top: 20vh;
}

.button {
    font-family: Verdana, 'Times New Roman';
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    padding: 10px 0px;
    border: 3px solid black;
    border-radius: 6%;
}

.onebutton {
    width: 120px;
}

.roundresultdiv {
    height: 150px;
    width: max(min(50%,700px),400px);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: -50px;
}

.resultspara, .finalscorepara {
    text-align: center;
    font-family: Verdana, 'Times New Roman';
    font-size: 30px;
    color:rgb(6, 23, 31);
}

.resultsdiv {
    width: max(min(50%,700px),400px);
    background-color: rgb(191, 221, 108);
    height: 150px;
    margin-top: 10vh;
    text-align: center;
    font-family: Verdana, 'Times New Roman';
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scorediv {
    display: flex;
    flex: 1;
    width: 100%;
}

.playerdiv {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}

.computerdiv {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}

h2 {
    text-align: center;
}

.finalscore {
    width: max(min(50%,700px),400px);
    height: 200px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.finalscorepara {
    text-align: center;
}

#reset {
    margin-top: 30px;
}

#computername {
    padding-right: 5px;
}

